.i-tabler-arrow-left{--un-icon:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cg class='icon-tabler' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='M5 12l6 6'/%3E%3Cpath d='M5 12l6-6'/%3E%3C/g%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;height:1em;width:1em;}
.i-tabler-arrow-right{--un-icon:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cg class='icon-tabler' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='M13 18l6-6'/%3E%3Cpath d='M13 6l6 6'/%3E%3C/g%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;height:1em;width:1em;}
.half{width:50%;height:50%;}
.center,[center=""]{display:grid;width:100%;height:100%;justify-content:center;align-content:center;}
.p\.visible{padding:.visible;}
.m\.style{margin:.style;}
.m-0,[m-0=""]{margin:0rem;}
.hidden{display:none;}
.opacity-20,[opacity-20=""]{opacity:0.2;}
.bg-transparent,[bg-transparent=""]{background-color:transparent;}
.bg-white,[bg-white=""]{--un-bg-opacity:1;background-color:rgba(255,255,255,var(--un-bg-opacity));}
.b{border-width:1px;border-style:solid;}
.border-none,[border-none=""]{border-style:none;}
.text-2xl,[text-2xl=""]{font-size:1.5rem;line-height:2rem;}
.text-4xl,[text-4xl=""]{font-size:2.25rem;line-height:2.5rem;}
.text-8xl,[text-8xl=""]{font-size:6rem;line-height:1;}
.font-bold,[font-bold=""]{font-weight:700;}
.table\?{-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
.text-center,[text-center=""]{text-align:center;}
.color-white,[color-white=""]{--un-text-opacity:1;color:rgba(255,255,255,var(--un-text-opacity));}
.text-black,[text-black=""]{--un-text-opacity:1;color:rgba(0,0,0,var(--un-text-opacity));}
.italic,[italic=""]{font-style:italic;}
.flex,[flex=""]{display:flex;}
.grid{display:grid;}
.relative,[relative=""]{position:relative;}
.absolute,[absolute=""]{position:absolute;}
.fixed,[fixed=""]{position:fixed;}
.w-full,[w-full=""]{width:100%;}
.h-full,[h-full=""]{height:100%;}
.w-screen,[w-screen=""]{width:100vw;}
.h-screen,[h-screen=""]{height:100vh;}
.visible,[visible=""]{visibility:visible;}
.overflow-hidden,[overflow-hidden=""]{overflow:hidden;}
.bottom-4,[bottom-4=""]{bottom:1rem;}
.left-4,[left-4=""]{left:1rem;}
.left-5,[left-5=""]{left:1.25rem;}
.right-4,[right-4=""]{right:1rem;}
.top-5,[top-5=""]{top:1.25rem;}
.z-1,[z-1=""]{z-index:1;}
.box-border,[box-border=""]{box-sizing:border-box;}
.ease,[ease=""]{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.ease-out{transition-timing-function:cubic-bezier(0, 0, 0.2, 1);}
.filter{--un-blur:var(--un-empty,/*!*/ /*!*/);--un-brightness:var(--un-empty,/*!*/ /*!*/);--un-contrast:var(--un-empty,/*!*/ /*!*/);--un-grayscale:var(--un-empty,/*!*/ /*!*/);--un-hue-rotate:var(--un-empty,/*!*/ /*!*/);--un-invert:var(--un-empty,/*!*/ /*!*/);--un-saturate:var(--un-empty,/*!*/ /*!*/);--un-sepia:var(--un-empty,/*!*/ /*!*/);--un-drop-shadow:var(--un-empty,/*!*/ /*!*/);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia) var(--un-drop-shadow);}
.transform{--un-rotate:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;transform:rotate(var(--un-rotate)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z));}body{background:black;margin:0;overflow:hidden;color:#fff;font-family:Source Sans Pro,sans-serif}h1{font-family:Space Mono,sans-serif;margin:0}
