.i-tabler-arrow-left{--un-icon:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cg class='icon-tabler' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='M5 12l6 6'/%3E%3Cpath d='M5 12l6-6'/%3E%3C/g%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;height:1em;width:1em;}
.i-tabler-arrow-right{--un-icon:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cg class='icon-tabler' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='M13 18l6-6'/%3E%3Cpath d='M13 6l6 6'/%3E%3C/g%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;height:1em;width:1em;}
.half{width:50%;height:50%;}
.center,[center=""]{display:grid;width:100%;height:100%;justify-content:center;align-content:center;}
.m-0,[m-0=""]{margin:0rem;}
.hidden{display:none;}
.opacity-20,[opacity-20=""]{opacity:0.2;}
.bg-transparent,[bg-transparent=""]{background-color:transparent;}
.border-none,[border-none=""]{border-style:none;}
.text-8xl,[text-8xl=""]{font-size:6rem;line-height:1;}
.text-center,[text-center=""]{text-align:center;}
.color-white,[color-white=""]{--un-text-opacity:1;color:rgba(255,255,255,var(--un-text-opacity));}
.text-black,[text-black=""]{--un-text-opacity:1;color:rgba(0,0,0,var(--un-text-opacity));}
.italic,[italic=""]{font-style:italic;}
.flex,[flex=""]{display:flex;}
.grid{display:grid;}
.relative,[relative=""]{position:relative;}
.absolute,[absolute=""]{position:absolute;}
.fixed,[fixed=""]{position:fixed;}
.w-full,[w-full=""]{width:100%;}
.h-full,[h-full=""]{height:100%;}
.w-screen,[w-screen=""]{width:100vw;}
.h-screen,[h-screen=""]{height:100vh;}
.visible{visibility:visible;}
.overflow-hidden,[overflow-hidden=""]{overflow:hidden;}
.bottom-2,[bottom-2=""]{bottom:0.5rem;}
.bottom-4,[bottom-4=""]{bottom:1rem;}
.left-2,[left-2=""]{left:0.5rem;}
.right-4,[right-4=""]{right:1rem;}
.box-border,[box-border=""]{box-sizing:border-box;}
.ease{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.transform{--un-rotate:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;transform:rotate(var(--un-rotate)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z));}body{background:black;margin:0;overflow:hidden;color:#fff;font-family:Source Sans Pro,sans-serif}h1{font-family:Space Mono,sans-serif;margin:0}
